## LA Housing Data
### Nancy Wen

In [12]:
import csv
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

# read in the file
la_housing = pd.read_csv("la_housing_dataset_no_geo_property_id_cleanzip2.csv", encoding='latin-1')
#la_housing = pd.read_csv("la_housing_dataset_no_geo_property_id.csv")
la_housing.head()

/Users/Nancy/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (2,4,5,6,7,8,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Property ID,APN,General Category,Status,Status Date,Completion Date,Permit #,Permit Type,Permit Sub-Type,...,Address Number,Address Number (float),Street Direction,Street Name,Street Suffix,City,State,Zip Code,Unit Count,Council District
0,0,0,5080031003,Ellis Withdrawal,NaN,7/18/07 0:00,NaN,NaN,NaN,NaN,...,961,961.0,s,ardmore,ave,NaN,NaN,90006,NaN,NaN
1,1,1,5080031004,Ellis Withdrawal,NaN,7/18/07 0:00,NaN,NaN,NaN,NaN,...,965,965.0,s,ardmore,ave,NaN,NaN,90006,NaN,NaN
2,2,2,2182008020,Ellis Withdrawal,NaN,7/19/07 0:00,NaN,NaN,NaN,NaN,...,5114,5114.0,n,enfield,ave,NaN,NaN,91316,NaN,NaN
3,3,3,2203017041,Ellis Withdrawal,NaN,7/19/07 0:00,NaN,NaN,NaN,NaN,...,7450,7450.0,n,louise,ave,NaN,NaN,91406,NaN,NaN
4,4,4,2421030018,Ellis Withdrawal,NaN,7/24/07 0:00,NaN,NaN,NaN,NaN,...,4603,4603.0,n,denny,ave,NaN,NaN,91602,NaN,NaN

In [13]:
la_housing.describe()

/Users/Nancy/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Unnamed: 0,Property ID,Address Number (float),Zip Code,Unit Count,Council District
count,663582.000000,663582.000000,6.635620e+05,663582.000000,140769.000000,140769.000000
mean,333305.185207,106403.729830,5.340412e+06,90495.709076,4.652558,8.116652
std,191675.134621,81420.936889,7.153355e+08,616.460709,12.405372,4.225838
min,0.000000,0.000000,0.000000e+00,90001.000000,0.000000,1.000000
25%,167425.250000,31523.000000,NaN,90031.000000,NaN,NaN
50%,333368.500000,93281.500000,NaN,90064.000000,NaN,NaN
75%,499279.750000,168388.750000,NaN,91324.000000,NaN,NaN
max,665183.000000,290858.000000,1.470000e+11,91612.000000,1150.000000,15.000000

In [14]:
la_housing.columns

Index(['Unnamed: 0', 'Property ID', 'APN', 'General Category', 'Status',
       'Status Date', 'Completion Date', 'Permit #', 'Permit Type',
       'Permit Sub-Type', 'Work Description', 'Address Full', 'Address Number',
       'Address Number (float)', 'Street Direction', 'Street Name',
       'Street Suffix', 'City', 'State', 'Zip Code', 'Unit Count',
       'Council District'],
      dtype='object')

In [15]:
la_housing['General Category'].unique() #['Ellis Withdrawal', 'Entitlement Change', 'Building Permits','Demolition Permits', 'Is in RSO Inventory']
la_housing['Permit Sub-Type'].unique() #[nan, '1 or 2 Family Dwelling', 'Apartment', 'Commercial', 'Onsite','Offsite']
la_housing['Address Full'].unique() # does not contain city, state, and zip code

array(['961 S ARDMORE AVE', '965 S ARDMORE AVE', '5114 N ENFIELD AVE', ...,
       '2002 W PASEO DEL MAR APT 2', '3535 S WESTERN AVE ',
       '2510 S ANCHOVY AVE '], dtype=object)

In [16]:
print("Total number of rows:", len(la_housing['APN']))
print("Number of Unique APNs:", len(la_housing['APN'].unique()))
print("Number of Unique Property IDs:", len(la_housing['Property ID'].unique()))

Total number of rows: 663582
Number of Unique APNs: 161321
Number of Unique Property IDs: 289629

### Goal 1: Group the records by Property ID

In [17]:
# Goal 1: Create a new record for each unique property
records_per_id = la_housing.groupby(['Property ID']).size()
records_per_id.sort_values(ascending=False)

Property ID
1861      783
22032     618
64707     552
7510      476
5304      476
9573      454
23070     430
25603     391
1930      353
12208     342
4479      306
22380     286
25781     278
78699     277
33794     275
11969     234
136378    232
73820     225
34639     221
39143     214
29414     212
15178     209
29304     204
117214    202
25878     197
27766     195
12297     190
9742      189
36858     187
11970     185
         ...
202999      1
203045      1
203023      1
203042      1
203041      1
203040      1
203037      1
203035      1
203033      1
203032      1
203031      1
203029      1
203026      1
203025      1
203024      1
203022      1
203000      1
203019      1
203016      1
203014      1
203013      1
203012      1
203011      1
203010      1
203009      1
203006      1
203005      1
203004      1
203003      1
146023      1
dtype: int64

In [22]:
# get other aggregation data
apn = la_housing.groupby(['Property ID'])['APN'].apply(list)
category = la_housing.groupby(['Property ID'])['General Category'].apply(list)
subtype = la_housing.groupby(['Property ID'])['Permit Sub-Type'].apply(list)
address = la_housing.groupby(['Property ID'])['Address Full'].apply(list)
units = la_housing.groupby(['Property ID'])['Unit Count'].apply(list)

In [45]:
# total number of records per property id
num_records = la_housing.groupby(['Property ID']).size()

# whether property id ever has an ellis withdrawal
has_ellis_withdrawal = la_housing.groupby(['Property ID'])['General Category'].apply(lambda x: "Ellis Withdrawal" in list(x))

In [88]:
# how to find first index of a value in a series
la_housing['Status Date'] = la_housing['Status Date'].apply(pd.to_datetime)
min_ellis_date = la_housing[la_housing['General Category'] == 'Ellis Withdrawal'].groupby(['Property ID'])['Status Date'].min()
min_ellis_date

Property ID
0      2007-07-18
1      2007-07-18
2      2007-07-19
3      2007-07-19
4      2007-07-24
5      2007-07-24
6      2007-07-25
7      2007-07-25
8      2007-07-25
9      2007-07-26
10     2007-07-26
11     2007-07-26
12     2007-07-31
13     2007-08-06
14     2007-08-13
15     2007-08-17
16     2007-08-22
17     2007-08-24
18     2007-08-30
19     2007-08-30
20     2007-08-30
21     2007-08-31
22     2007-09-05
23     2007-09-19
24     2007-09-19
25     2007-10-01
26     2007-10-02
27     2007-10-02
28     2007-10-02
29     2007-10-04
          ...
1403   2017-07-17
1404   2017-07-17
1405   2017-07-17
1406   2017-07-17
1407   2017-07-17
1408   2017-07-18
1409   2017-07-18
1410   2017-07-19
1411   2017-07-19
1412   2017-07-19
1413   2017-07-24
1414   2017-07-24
1415   2017-07-24
1416   2017-07-26
1417   2017-07-27
1418   2017-07-28
1419   2017-07-31
1420   2017-07-31
1421   2017-07-31
1422   2017-07-31
1423   2017-07-31
1424   2017-05-11
1425   2017-05-11
1426   2017-05-11
1427   2017-06-27
1428   2017-06-27
1429   2017-06-27
1430   2017-07-03
1431   2017-07-07
1432   2017-07-12
Name: Status Date, dtype: datetime64[ns]

In [93]:
merged_la_housing = pd.merge(la_housing, pd.DataFrame(min_ellis_date).reset_index(), how="left", left_on= 'Property ID', right_on='Property ID', suffixes=('','_min'))
merged_la_housing.head()

,Unnamed: 0,Property ID,APN,General Category,Status,Status Date,Completion Date,Permit #,Permit Type,Permit Sub-Type,...,Address Number (float),Street Direction,Street Name,Street Suffix,City,State,Zip Code,Unit Count,Council District,Status Date_min
0,0,0,5080031003,Ellis Withdrawal,NaN,2007-07-18,NaN,NaN,NaN,NaN,...,961.0,s,ardmore,ave,NaN,NaN,90006,NaN,NaN,2007-07-18
1,1,1,5080031004,Ellis Withdrawal,NaN,2007-07-18,NaN,NaN,NaN,NaN,...,965.0,s,ardmore,ave,NaN,NaN,90006,NaN,NaN,2007-07-18
2,2,2,2182008020,Ellis Withdrawal,NaN,2007-07-19,NaN,NaN,NaN,NaN,...,5114.0,n,enfield,ave,NaN,NaN,91316,NaN,NaN,2007-07-19
3,3,3,2203017041,Ellis Withdrawal,NaN,2007-07-19,NaN,NaN,NaN,NaN,...,7450.0,n,louise,ave,NaN,NaN,91406,NaN,NaN,2007-07-19
4,4,4,2421030018,Ellis Withdrawal,NaN,2007-07-24,NaN,NaN,NaN,NaN,...,4603.0,n,denny,ave,NaN,NaN,91602,NaN,NaN,2007-07-24

In [112]:
merged_la_housing['Before First Ellis'] = merged_la_housing['Status Date'] < merged_la_housing['Status Date_min'] 

merged_la_housing['Entitlement Before First Ellis'] = (merged_la_housing['Status Date'] < merged_la_housing['Status Date_min']) & (merged_la_housing['General Category'] =='Entitlement Change')

In [113]:
merged_la_housing.head()

,Unnamed: 0,Property ID,APN,General Category,Status,Status Date,Completion Date,Permit #,Permit Type,Permit Sub-Type,...,City,State,Zip Code,Unit Count,Council District,Status Date_min,Before First Ellis,Total Actions,Total Actions Before Ellis,Entitlement Before First Ellis
0,0,0,5080031003,Ellis Withdrawal,NaN,2007-07-18,NaN,NaN,NaN,NaN,...,NaN,NaN,90006,NaN,NaN,2007-07-18,False,2.0,0.0,False
1,1,1,5080031004,Ellis Withdrawal,NaN,2007-07-18,NaN,NaN,NaN,NaN,...,NaN,NaN,90006,NaN,NaN,2007-07-18,False,2.0,0.0,False
2,2,2,2182008020,Ellis Withdrawal,NaN,2007-07-19,NaN,NaN,NaN,NaN,...,NaN,NaN,91316,NaN,NaN,2007-07-19,False,2.0,0.0,False
3,3,3,2203017041,Ellis Withdrawal,NaN,2007-07-19,NaN,NaN,NaN,NaN,...,NaN,NaN,91406,NaN,NaN,2007-07-19,False,3.0,0.0,False
4,4,4,2421030018,Ellis Withdrawal,NaN,2007-07-24,NaN,NaN,NaN,NaN,...,NaN,NaN,91602,NaN,NaN,2007-07-24,False,2.0,0.0,False

In [128]:
grouped_la_housing = pd.DataFrame(la_housing.groupby(['Property ID']).size())

grouped_la_housing.columns = ['Total Actions']

grouped_la_housing

             Total Actions
Property ID
0                        2
1                        2
2                        2
3                        3
4                        2
5                        1
6                        2
7                        2
8                        2
9                        2
10                       2
11                       4
12                       5
13                       5
14                       5
15                       6
16                       2
17                       2
18                       1
19                       1
20                       1
21                      26
22                       3
23                      10
24                       1
25                       4
26                      65
27                       3
28                       1
29                       2
...                    ...
290829                   4
290830                   4
290831                   4
290832                   8
290833                   8
290834                   8
290835                  16
290836                   6
290837                   8
290838                   8
290839                   8
290840                   8
290841                  10
290842                  10
290843                   6
290844                   6
290845                   6
290846                   8
290847                  12
290848                   1
290849                   1
290850                   1
290851                   2
290852                   1
290853                   1
290854                   1
290855                   1
290856                   1
290857                   1
290858                   1

[289629 rows x 1 columns]

In [133]:
grouped_la_housing['Total Actions Before Ellis'] = merged_la_housing.groupby(['Property ID'])['Before First Ellis'].sum()

grouped_la_housing['Total Entitlements Before Ellis'] = merged_la_housing.groupby(['Property ID'])['Entitlement Before First Ellis'].sum()

#grouped_la_housing.to_csv('la_housing_dataset_no_geo_property_id_aggregations_v559.csv')
grouped_la_housing

,Total Actions,Total Actions Before Ellis,Total Entitlements Before Ellis
Property ID,,,
0,2,0.0,0.0
1,2,0.0,0.0
2,2,0.0,0.0
3,3,0.0,0.0
4,2,0.0,0.0
5,1,0.0,0.0
6,2,0.0,0.0
7,2,0.0,0.0
8,2,0.0,0.0
9,2,0.0,0.0
10,2,0.0,0.0
11,4,0.0,0.0
12,5,0.0,0.0
13,5,0.0,0.0
14,5,0.0,0.0
15,6,0.0,0.0
16,2,0.0,0.0
17,2,0.0,0.0
18,1,0.0,0.0
19,1,0.0,0.0
20,1,0.0,0.0
21,26,0.0,0.0
22,3,0.0,0.0
23,10,0.0,0.0
24,1,0.0,0.0
25,4,0.0,0.0
26,65,0.0,0.0
27,3,0.0,0.0
28,1,0.0,0.0
29,2,0.0,0.0
...,...,...,...
290829,4,0.0,0.0
290830,4,0.0,0.0
290831,4,0.0,0.0
290832,8,0.0,0.0
290833,8,0.0,0.0
290834,8,0.0,0.0
290835,16,0.0,0.0
290836,6,0.0,0.0
290837,8,0.0,0.0
290838,8,0.0,0.0
290839,8,0.0,0.0
290840,8,0.0,0.0
290841,10,0.0,0.0
290842,10,0.0,0.0
290843,6,0.0,0.0
290844,6,0.0,0.0
290845,6,0.0,0.0
290846,8,0.0,0.0
290847,12,0.0,0.0
290848,1,0.0,0.0
290849,1,0.0,0.0
290850,1,0.0,0.0
290851,2,0.0,0.0
290852,1,0.0,0.0
290853,1,0.0,0.0
290854,1,0.0,0.0
290855,1,0.0,0.0
290856,1,0.0,0.0
290857,1,0.0,0.0
290858,1,0.0,0.0

In [121]:
len(merged_la_housing['Property ID'])
len(merged_la_housing['Property ID'].unique())

289629

In [64]:
def get_all_records(pid):
    """
    Given a property ID, return a dataframe returning all records that match the property ID
    """
    matching_records = la_housing.loc[la_housing['Property ID'] == pid]
    print("Found %x records", len(matching_records))
    return matching_records

Found %x records 62

,Unnamed: 0,Property ID,APN,General Category,Status,Status Date,Completion Date,Permit #,Permit Type,Permit Sub-Type,...,Address Number,Address Number (float),Street Direction,Street Name,Street Suffix,City,State,Zip Code,Unit Count,Council District
14709,15404,8605,7563006BRK,Entitlement Change,NaN,2010-03-15,NaN,ZA-2010-638-CEX,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,NaN,NaN
61861,63340,8605,NaN,Building Permits,CofO Issued,2007-11-05,NaN,07016-40000-01480,Bldg-Alter/Repair,Apartment,...,2235,2235.0,w,25th,st,NaN,NaN,90732,NaN,NaN
184702,186241,8605,NaN,Building Permits,Permit Finaled,2010-10-12,NaN,10016-40000-18565,Bldg-Alter/Repair,Apartment,...,2235,2235.0,w,25th,st,NaN,NaN,90732,NaN,NaN
188638,190190,8605,NaN,Building Permits,Permit Finaled,2010-11-16,NaN,09016-40000-17365,Bldg-Alter/Repair,Apartment,...,2235,2235.0,w,25th,st,NaN,NaN,90732,NaN,NaN
231342,232906,8605,NaN,Building Permits,Permit Finaled,2011-12-06,NaN,11016-40000-23919,Bldg-Alter/Repair,Apartment,...,2235,2235.0,w,25th,st,NaN,NaN,90732,NaN,NaN
255445,257014,8605,NaN,Building Permits,Permit Finaled,2012-06-28,NaN,12016-40000-12887,Bldg-Alter/Repair,Apartment,...,2235,2235.0,w,25th,st,NaN,NaN,90732,NaN,NaN
663521,665123,8605,7563006096,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663522,665124,8605,7563006097,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663523,665125,8605,7563006098,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663524,665126,8605,7563006099,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663525,665127,8605,7563006100,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663526,665128,8605,7563006101,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663527,665129,8605,7563006102,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663528,665130,8605,7563006103,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663530,665132,8605,7563006105,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663531,665133,8605,7563006106,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663532,665134,8605,7563006107,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663533,665135,8605,7563006108,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663534,665136,8605,7563006109,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663535,665137,8605,7563006110,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663536,665138,8605,7563006111,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663537,665139,8605,7563006112,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663538,665140,8605,7563006113,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663539,665141,8605,7563006114,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663540,665142,8605,7563006115,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663541,665143,8605,7563006116,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663542,665144,8605,7563006117,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663543,665145,8605,7563006118,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663544,665146,8605,7563006119,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663545,665147,8605,7563006120,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663548,665150,8605,7563006123,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663549,665151,8605,7563006124,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663550,665152,8605,7563006125,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663551,665153,8605,7563006126,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663552,665154,8605,7563006127,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663553,665155,8605,7563006128,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663554,665156,8605,7563006129,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663555,665157,8605,7563006130,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663556,665158,8605,7563006131,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663557,665159,8605,7563006132,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663558,665160,8605,7563006133,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663559,665161,8605,7563006134,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663560,665162,8605,7563006135,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663561,665163,8605,7563006136,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663562,665164,8605,7563006137,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663563,665165,8605,7563006138,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663564,665166,8605,7563006139,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663565,665167,8605,7563006140,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663566,665168,8605,7563006141,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663567,665169,8605,7563006142,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663568,665170,8605,7563006143,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663569,665171,8605,7563006144,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663570,665172,8605,7563006145,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663571,665173,8605,7563006146,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663572,665174,8605,7563006147,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663573,665175,8605,7563006148,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663574,665176,8605,7563006149,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663575,665177,8605,7563006150,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663576,665178,8605,7563006151,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0
663577,665179,8605,7563006152,Is in RSO Inventory,NaN,NaT,NaN,NaN,NaN,NaN,...,2235,2235.0,w,25th,st,NaN,NaN,90732,1.0,15.0

In [33]:
grouped.hist(bins=100)
plt.show()

NameError: name 'grouped' is not defined

In [ ]:
# Goal 2: Given a list of addresses, map the addresses (will need geocoding)
# Extra: add in a time dimension

In [ ]:
# Goal 3: Using Zillow data